@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  gap: 10px;
}

.videoInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.smallInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #e0e0e0;
}

.smallInput:focus {
  border-color: #76abae;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px 15px;
  background-color: #18494b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #4a8f7f;
  transform: translateY(-2px);
}

.roomContent {
  display: flex;
  gap: 10px;
}

.roomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
  width: 100%;
  height: 50px;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  color: #e0e0e0;
}

.memberList {
  display: flex;
  gap: 10px;
}

.memberList div {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
  color: #e0e0e0;
}
